<section class="profile-cover text-center">
	<%# image_tag (@profile.background) %><br>
</section>

<div class="row">
	<div class="profile-info">
		<div class="pro-avatar">
			<%= image_tag (@profile.avatar), class: "profile-avatar" %>
		</div>
		
		<%= @profile.user.name %>
		@<%= @profile.user.username %>
	</div>
</div>